body{
    font-family: roboto, sans-serif;
    color:  #707070;
    padding: 10px 20px;
}
h1{
    font-size: 60px;
    margin: 20px 0;
}
h2,h4{
    font-size: 30px;
    color:black ;
}
.container{
   
    max-width: 1140px;
padding: 60px 0 60px 50px;
margin: auto;
clear: both;
}
.half{
    
    width: 50%;
    float: left;
}
.mid{
    margin-top: 400px;
}
.service{
    display: flex;
}
.service-item{
    max-width: 25%;

margin: 0px 15px 20px 15px;
padding: 20px;
border: 1px solid #ddd;
border-radius: 20px;
}
footer{
    text-align: center;
}
